.section-password-reset {
    background-repeat: no-repeat;
    background-position: center bottom 0;
    -webkit-background-size: contain;
    background-size: contain;
    background-image: url(/assets/uploads/light-blue-wave-background.png);
}